[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
fire = "*"

[dev-packages]
pytest = "*"
sqlacodegen = "*"

[requires]
python_version = "3.6"
