# NOTE: For simplicity we will keep api and matcher in same, but it SHOULD have different
# Pipfile and get different images built

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# requests = "2.11.1"
sqlalchemy = "*"
psycopg2-binary = "*"
fire = "*"
flask = "*"
simplejson = "*"
gunicorn = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
flake8 = "*"
pykwalify = "*"
alembic = "*"
celery = "*"
redis = "*"
firebase-admin = "*"
pyrebase = {git = "https://github.com/heston/Pyrebase.git",ref = "master"}

[dev-packages]
pytest = "*"
sqlacodegen = "*"
mock = "*"
coverage = "*"
coveralls = "*"
ipython = "*"

[requires]
python_version = "3.6"
